In [63]:
ANS-2
total_sum=0
n=range(1,11)
for i in n:
    total_sum =total_sum+i
    print(total_sum)

1
3
6
10
15
21
28
36
45
55

In [65]:
ANS-2
l=[1,2,3,4,5,6,7,8,9,10]
total=0
for i in l:
    total+=i

In [66]:
total

55

TypeError: '<=' not supported between instances of 'int' and 'list'

In [74]:
ANS-2
n=10
s=0
while (n > 0):
    s +=n
    n-=1
    print(s)

10
19
27
34
40
45
49
52
54
55

In [86]:
ANS-4
n=int(input("enter your number"))
l=range(1,n+1)
list(i**3 for i in l)

enter your number 100

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [87]:
ANS-4
[i for i in l if i%4 == 0]

[4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100]

In [90]:
ANS-4
[i for i in l if i%5 == 0]

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [113]:
ANS-5
s=list("i want to became a data sciencetist")
def vowels(x):
    v=('a','e','i','o','u')
    return x in v
b=list(filter(vowels,s))
print("vowels : ",b)
print("no of vowels : ", len(b))

vowels :  ['i', 'a', 'o', 'e', 'a', 'e', 'a', 'a', 'a', 'i', 'e', 'e', 'i']
no of vowels :  13

In [114]:
ANS-1
for loop is used when the loop is used when the number of iteration is already known.
while loop is used when the number of iterations is unknown

SyntaxError: invalid syntax (3469666330.py, line 2)